/*----------------------------------------scoped---------------------------------------*/
$HEAD-TOP:50px;
$FLEX-LEFT:170px;
/*$MAIN-COLOR:#50E297;          !*深绿*!
$AUXILIARY-COLOR:#50E378;    !*浅绿*!*/
$MAIN-COLOR:#004990;          /*深绿*/
$AUXILIARY-COLOR:#037df3;    /*浅绿*/
$COLOR05:#53c68b;          /*深绿*/
$COLOR04:#50E297;          /*浅绿*/
$COLOR01:#22262F ;          /*深灰*/
$COLOR02:#717789;         /*浅灰*/
$COLOR03:#464E65;       /*蓝灰*/

@mixin flex{
  display:flex;flex-direction: row;justify-content: space-between;
}
/*------------------------------------------reset------------------------------------*/
body{min-width: 1050px;font-family: "Microsoft YaHei";color: #666}
ul,li,dl,dd{list-style: none;padding: 0;margin: 0;}
h3,h4,h5,p{margin: 0;}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.counter{display: inline-block}
.btn{padding: 5px 12px;font-size: 12px}
table .btn{padding: 3px 12px;font-size: 12px}
.form-control{height: 28px;padding: 3px 12px}

/*滚动条垂直方向的宽度*/
::-webkit-scrollbar
{
  width: 5px;
}
/* 垂直滚动条的滑动块 */
::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(129,129,129,0.5);
}

/*-------------------------------------all public style-----------------------------------------*/
body{min-height: 100vh}
.icon { width:22px;height:22px;vertical-align:text-bottom;fill: currentColor;  overflow: hidden;  }

.app{ display: flex;  flex-direction: column;  min-height: 100vh;}
.header-top{position: fixed;top:0;left: 0;width: 100%;height: $HEAD-TOP;line-height:$HEAD-TOP;z-index: 9;padding: 0 10px 0 0;background-color: $COLOR01;color: #fff;
  @include flex}
.header-top .logo{font-size: 16px;font-weight: bold;width:$FLEX-LEFT;background: $MAIN-COLOR;text-align: center;border-radius: 0 10px 0 0 }
.header-top .user-state{display: flex;flex-direction: row}
.header-top .user-state p{margin-left: 20px;cursor: pointer}
.header-top .user-state p.user-name i{background: url("../../img/icon_user.png") no-repeat;}
.header-top .user-state p.user-logout i{background: url("../../img/icon_logout.png") no-repeat;}
.header-top .user-state p.user-msg{position: relative;animation: msg 1s  infinite ease-in-out}
.header-top .user-state p.user-msg .icon,.header-top .user-state p.user-logout .icon{vertical-align: middle}
.header-top .user-state p.user-msg span{position: absolute;content: '';width: 10px;height: 10px;background: red;border-radius: 10px;right: -3px;bottom: 11px}
@keyframes  msg{
  0%{opacity: 1}
  50%{opacity: 0}
  100%{opacity: 0}
}
.Page{float: left}

.main_box{margin-top: $HEAD-TOP;width: 100%;display: flex;  flex-direction: row;  flex-grow: 1;  overflow-x: hidden;padding: 0 10px;    height: calc(100% - 55px);}
.index{background: #f2f2f2}
.main_box .content-right{margin-left: $FLEX-LEFT;width: 100%;overflow:hidden;}
.index .content-right{margin-top: 20px}
.main_box .content-right .con-top{ overflow:hidden;width: 100%;display: flex;justify-content: space-between;background: #fff}
.main_box .content-right .con-top .top-box{margin: 10px;box-shadow: 1px 1px 6px 3px rgba(0,0,0,.1);width: 18%;text-align: center;padding: 8px 0 0 0 ;color: #fff}
.main_box .content-right .con-top .top-box p{height: 30px;line-height: 30px;opacity: .3;color: #fff}
.main_box .content-right .con-top .top-box:first-child{background: #65B8EA}
.main_box .content-right .con-top .top-box:first-child p{background: #2296C9}
.main_box .content-right .con-top .top-box:nth-child(2){background: $COLOR04}
.main_box .content-right .con-top .top-box:nth-child(2) p{background: $COLOR05}
.main_box .content-right .con-top .top-box:nth-child(3){background: #FF8362}
.main_box .content-right .con-top .top-box:nth-child(3) p{background: orangered}
.main_box .content-right .con-top .top-box:nth-child(4){background:#BEAADF }
.main_box .content-right .con-top .top-box:nth-child(4) p{background:#751E87 }
.main_box .content-right .con-top .top-box:last-child{background: #FFB749}
.main_box .content-right .con-top .top-box:last-child p{background:#DA9629}
.main_box .content-right .index-top h3{font-size: 20px;font-weight: bold;line-height: 36px;}

.main_box .content-right .index-top .summary{width: 100%;flex-wrap: wrap;
  @include flex}
.main_box .content-right .index-top .summary p{line-height: 20px;}

.main_box .content-right .con-box{margin-top: 20px;padding: 10px;min-height: 700px;background: #fff;}
.main_box .con-box .chart-bar h3{text-align: center;font-size: 18px;line-height: 36px;font-weight: bold}
.main_box .con-box .chart-pia{margin : 50px 0;}
.hello{width: 100%;position: relative}
.box{position: absolute;width: 90%;height: 500px;transition:all 0.8s;left: 0;right: 0;margin: auto;margin-bottom: 50px;background: #f2f2f2}
.box canvas{cursor: pointer}
.box p{font-size: 60px;color: #333;text-align: center}
.box h3{text-align: center;line-height: 30px;}
.activ p{display: none}
.box.activ{background: none}

.main_box .fixed-left{position: fixed;width:$FLEX-LEFT;top:0;left: 0;bottom: 0;background: #2E3440;margin-top:$HEAD-TOP;z-index: 8}
.main_box .fixed-left ul{width: 100%;overflow-y: auto;  position: relative;  height: 100%;   }
.main_box .fixed-left ul li{text-align: center;line-height: 55px;}
.main_box .fixed-left ul li a{color: $COLOR02;display: block}
.main_box .fixed-left ul li:hover,.main_box .fixed-left ul li.on{background:$COLOR01 ;border-left: 3px solid $AUXILIARY-COLOR;}
.main_box .fixed-left ul li a:hover,.main_box .fixed-left ul li.on a{color:$AUXILIARY-COLOR;text-decoration: none;}




.foot-box{height: 40px;background: #ccc;padding-left: $FLEX-LEFT;text-align: center;line-height: 40px;/*position: fixed;bottom: 0;left: 0;width: 100%;z-index: 7*/}

/*------------------------------------------------------------------------------*/

.main_box .content-right .other-top{border-bottom: 2px solid dodgerblue;}
.main_box .content-right .other-top .top-title{line-height: 58px;font-size: 20px ;font-weight: bold;}
.main_box .content-right .other-top .pro_top_box{ @include flex; flex-wrap: wrap;margin-bottom: 10px;}
.main_box .content-right .other-top .pro-list-select{margin-top: 12px;float: right}
.main_box .content-right .pro-lists tr:hover td{background: #ccc;}
.main_box .content-right .pro-lists td{text-align: center;vertical-align: middle}
.main_box .content-right .pro-lists th{text-align: center}

.main_box .content-right .other-top .pro_name h3{font-size: 26px;font-weight: bold;color: orangered;line-height: 36px;}
.main_box .content-right .other-top .add-button{margin-top: 10px;}

.main_box .content-right .other-top .pro-play{margin-top: 10px;}

.main_box .content-right .pro-detail{color: #666}
.main_box .content-right .other-title h3{line-height: 30px;font-size: 18px;font-weight: bold}
.main_box .content-right .pro_detail_name p{font-size: 14px;line-height: 24px;}
.main_box .content-right .pro-detail table td{vertical-align: middle}
.main_box .content-right .pro-detail table img{height: 100%}
.main_box .content-right .pro_detail_name{ margin-top: 15px;}

.main_box .content-right .pro-detail .record{margin-top: 15px;border-top:1px dashed #ccc;padding: 10px;}
.main_box .content-right .pro-detail .record h3{font-size: 18px;color:$MAIN-COLOR;font-weight: bold ;line-height: 50px;}
.main_box .content-right .pro-detail .record-list{border-left: 1px solid #999;padding: 15px;}
.main_box .content-right .pro-detail .record-list p{position: relative;height: 40px;line-height: 40px;border:1px solid #ddd;border-radius: 3px;margin-bottom: 10px;padding-left: 10px;}
.main_box .content-right .pro-detail .record-list p:after{content: '';position: absolute;width: 15px;
  height:15px;background: #fff;border:2px solid $MAIN-COLOR;left: -24px;top:0;bottom: 0;margin: auto;border-radius: 15px;}
.main_box .content-right .pro-detail .record-list p:first-child:after{background: yellow}
.main_box .content-right .revise{margin: auto;display: block;width: 250px}

.main_box .content-right .pro-detail .pro_cast_total{display: flex;justify-content: flex-start;flex-wrap: wrap;}
.main_box .content-right .pro-detail .pro_cast_total p{margin-right: 30px;}
.main_box .content-right .pro-detail .pro_cast_total p span{color: $MAIN-COLOR;font-size: 18px;font-weight: bold}
.main_box .content-right .pro-detail table th{background: #eee}
.main_box .content-right .pro-detail table table th{background: none}

.lend-top{display: flex;justify-content: space-between;flex-wrap: wrap}
.main_box .content-right .lend-total{height: 50px;line-height: 50px;background: rgba(89,167,243,.1);padding-left: 35px;border-radius: 30px}
.main_box .content-right .lend-total span{color: #d55027;font-size: 18px;font-weight: bold}

.lend-box label{display: inline}
.lend-box .regular-radio {  display: none;  }
.lend-box .regular-radio + label {  -webkit-appearance: none;  background-color: #fafafa;  border: 1px solid #cacece;  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);  padding: 9px;  display: inline-block;  position: relative;}
.lend-box .regular-radio:checked + label:after {content: '\2714'; font-size: 14px;  position: absolute;  top: 0px;  left: 3px;  color: #99a1a7;  }
.lend-box .regular-radio:checked + label {  background-color: #e9ecee;  color: #99a1a7;  border: 1px solid #adb8c0;  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);  }
.lend-box .regular-radio + label:active,.lend-box  .regular-radio:checked + label:active {  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);  }
.lend-box .type{margin-bottom: 15px;}
.lend-box .type span{display: inline-block;border-right: 1px dashed #ccc;width:100px;padding-left: 15px}
.lend-box .type span:last-child{border: 0}

.msg-note li{padding-left: 25px;}
.msg-note .no-ready{position: relative}
.msg-note .no-ready:before{content:'';position:absolute;width: 8px;height: 8px;background: red;border-radius: 8px;left: 5px;top:0;bottom: 0;margin: auto;}

.form{margin: auto;color: #666;display: flex;justify-content: center;flex-wrap: wrap;margin-bottom: 20px}
.form .form-con{width: 700px;margin-right: 50px}
.form .form-list{overflow: hidden;border-bottom: 1px dotted #ddd;padding: 5px 0;}
.lend-box .form-list{padding: 10px 0}
.form .form-list .left-title{width: 160px;text-align: right;float: left;line-height: 28px;}
.form .form-list .right-input{float: left;margin-left: 10px;width: calc(100% - 200px);line-height: 28px;}
.form .form-list dl.right-input{display: flex}
.form .form-list dl.right-input dd{width: 170px;text-align: center;height: 34px;line-height: 34px;border-radius: 30px;border:1px solid #ccc;margin-right: 20px}
.form .form-list dl.right-input dd.on{background: $MAIN-COLOR;color: #fff}
.form .form-list .right-input input{width: 100%}
.form  .form-file{width:350px }
/*a  upload */
.form .a-upload {
  width:260px;
  margin-bottom: 5px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  cursor: pointer
}

.form .a-upload  input {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer
}
.form .upload-btn{width: 60px;margin-bottom: 5px;}
.form .file-img{width: 100%;height: 180px;background: #f2f2f2;  border: 1px dashed #ccc;  border-radius: 4px;display: flex;flex-direction: column;justify-content: center}
.form .file-img img{max-width: 100%;max-height: 100%;}
.form .file-list{margin: 10px;}


.lend-detail table{width: 800px;margin: auto}

.contract-edited{display: flex;justify-content: center}
.contract-edited .contract-box{width: 700px;border-right: 1px dashed #ccc;margin-right: 10px;}

.bid-add #as{width: 200px;height: 28px!important;line-height: 28px;}
.bid-add #as .webuploader-pick{margin-top: 0;padding: 0}

.form .detail-list .left-title{width:50%}
.form .detail-list .right-input{width: calc(50% - 20px)}


.lend-orders{width: 800px;margin:20px auto;}
.lend-orders h3{text-align: center;border-bottom:1px double #999;width:150px;margin: auto;position: relative;letter-spacing: 10px;padding-left: 10px;line-height: 40px;margin-bottom: 10px}
.lend-orders h3::before{content: '';position: absolute;width: 100%;height: 1px;background: #999;left: 0;bottom: 1px}
.lend-orders table{text-align: center;font-size: 15px}
.lend-year-input input,.lend-apply-money input{width: 50px;display: inline-block;border:0;border-bottom: 1px solid #ccc}
.lend-apply-money p{float: left}
.lend-apply-money p:nth-child(2){margin-left: 15px}
.lend-apply-money p:last-child{float: right}
.lend-apply-money input{width: 50px;}
.font-bold{font-weight: bold}
.orders-foot{display: flex;justify-content: space-between;padding: 0 5px;margin-top: 10px}
.orders-foot li span{font-weight: bold}
.orders-foot li input,.orders-foot li span{float: left}
.orders-foot li input{width: 100px;border:0;border-bottom: 1px solid #ccc}
.yuan-orders-foot table{width: 100%;margin: 0!important;}
.yuan-orders-foot table td{padding: 10px 5px}
.yuan-orders-foot table td input{height: 80px}


.other-lend-info table{width: 800px;margin: 15px auto}

  /***********plan3************/
.plan3 .main_box .content-right .con-top .top-box{background: none;color: #666}
.plan3 .main_box .content-right .con-top .top-box p{opacity: .8}











